/*
Table of Contents

1. Blog Grid, Scroller & Thumbnails
2. Mini Blog & Blog Posts

*/


/* 1. BLOG GRID, SCROLLER & THUMBNAILS */

.carousel-container {
    margin: var(--spc-big) auto var(--spc-med);
    max-width: 1280px;
  }

  .carousel {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-behavior: smooth;
    scroll-snap-type: inline mandatory;
    gap: 16px;
    border-right: 16px solid var(--clr-tan);
    border-left: 16px solid var(--clr-tan);
    cursor: pointer;
  }

  .thumbnail {
    width: 320px;
    height: 416px;
    overflow-y: hidden;
    background-color: var(--clr-deep-teal);
    color: var(--clr-white);
    padding: var(--spc-small);
    scroll-snap-align: start;
  }

  .thumbnail img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  .thumbnail p {
    font-size: var(--fs-h2);
    font-weight: var(--fw-light);
    color: var(--clr-white);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

  }

  .thumbnail h2 {
    font-size: var(--fs-h1-reg);
    font-family: var(--font-body);
    color: var(--clr-white);
    margin-top: var(--spc-small);
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .carousel-buttons {
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .blog-container {
    width: 100%;
    max-width: 1248px;
    margin: var(--spc-small) auto var(--spc-big);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .select-wrapper {
    position: relative;
    display: inline-block;
  }

  .select-wrapper i {
    position: absolute;
    right: 14px;
    top: calc(50% - 0.5em);
    pointer-events: none;
  }

  .select-filter {
    -webkit-appearance: none;
    font-family: var(--font-body);
    font-size: var(--fs-h2);
    font-weight: var(--fw-semi-bold);
    background-color: var(--clr-white);
    color: var(--clr-black);
    padding: 18px 40px 14px 16px;
    height: min-content;
    width: max-content;
    margin: 0px;
    box-shadow: var(--bs-shadow);
    border-radius: 0px;
    cursor: pointer;
  }

  .blog-grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    width: 100%;
    max-width: 1120px;
    margin: 0px auto;
    padding: 0px;
  }

  .blog-filter {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1152px;
    justify-content: space-between;
    margin-bottom: var(--spc-small);
  }

  .blog-filter .white-button {
    margin: 0px 0px var(--spc-small);
  }

  .blog-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: var(--spc-med);
    width: 100%;
    max-width: 1120px;
    margin: 0px auto;
    padding: 0px;
  }

  /*
Table of Contents

1. Home

*/


/* 1. HOME */

.front-splash {
    width: 100%;
    max-width: 1280px;
    margin: 0px auto var(--spc-big);
    padding: 0px var(--spc-small);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .splash-title {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: var(--spc-small);
  }

  .title {
    width: 100%;
    object-fit: contain;
    margin: 0px auto;
  }

  .splash-image-container {
    position: relative;
    display: inline-block;
    height: 448px;
    width: 60%;
    max-width: 720px;
    overflow: hidden;
    margin-right: var(--spc-med);
    overflow: hidden;
  }

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
  }

  .slide.active {
    opacity: 1;
    visibility: visible;
  }

  .splash-image-controller {
    position: absolute;
    bottom: var(--spc-small);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spc-small);
  }

  .circle {
    z-index: 12;
    width: 32px;
    height: 32px;
    border: 2px var(--clr-soft-black) solid;
    border-radius: 50%;
    background-color: var(--clr-white);
    cursor: pointer;
  }

  .filled-circle {
    background-color: var(--clr-melon);
  }

  .circle:hover {
    background-color: var(--clr-melon);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .splash-image-container:hover .overlay {
    opacity: 1;
  }

  .overlay-text {
    color: white;
    font-size: var(--fs-h1-reg);
    padding: var(--spc-small);
    text-align: center;
    width: 80%;
  }

  #thumbnail {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
}

#error-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: red;
}