/* Header section */
header {
    color: black;
    width: 100%;
    outline-offset: 0px;
    background-color: var(--primary-main-green-color);
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
}

.navbar {
    display: none;
}

.navbar-desktop {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    gap: 30px;
    margin-right: 15px;
    margin-left: 15px;
    font-family: var(--header-font-family);
    font-weight: 500;
}

.navbar-desktop a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #000000;
}

nav i {
    transform: scale(1);
    padding: 2px;
}

nav a:hover {
    color: #000000;
    /* font-weight: bold; */ /*testing without bold */
    text-decoration: underline;
}

.navbar-desktop .active {
    text-decoration: underline;
}

.mantislogo {
    padding: 10px;
    position: static;
}

nav i {
    color: black;
}

/* End header */

.header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}
.div2 {
    grid-area: 1 / 2 / 2 / 3;
}
.mantislogo {
    grid-area: 1 / 3 / 2 / 4;
}
.div4 {
    grid-area: 1 / 4 / 2 / 5;
}
.div5 {
    grid-area: 1 / 5 / 2 / 6;
}

.mantislogo {
    width: 200px;
}
