/* Start media queries */

/* Styles for screens larger than 1420px (desktop) */
@media screen and (min-width: 825px) {
    .navbar-mobile {
        display: none; /* Hide mobile navbar on large screens */
    }
    .navbar-desktop {
        display: flex; /* Show desktop navbar on large screens */
    }
    #open,
    #close {
        display: none; /* Hide hamburger menu icons on large screens */
    }
}

/* Styles for screens between 824px and 1420px */
@media screen and (max-width: 1420px) {
    .header {
        position: sticky;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-desktop {
        display: none; /* Hide desktop navbar on smaller screens */
    }
    .navbar-mobile {
        display: none; /* Initially hide mobile navbar */
        text-align: center;
        position: sticky;
        left: 0;
        right: 0;
        z-index: 1;
        padding: 0;
        margin: 0;
        flex-direction: column; /* Ensure children are stacked vertically */
        justify-content: center; /* Center children vertically */
        align-items: center; /* Center children horizontally */
    }
    .navbar-mobile a {
        display: block;
        padding: 25px 15px;
        text-decoration: none;
        text-align: center;
        color: black;
        font-weight: bold;
    }
    .navbar-mobile a.active {
        text-decoration: underline;
        transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    }
    .header .image {
        display: block;
    }
    .hamburger-menu {
        position: absolute;
        top: 6%;
        right: 8%;
        font-size: 3rem;
        z-index: 10;
        padding-left: 10px;
    }
    .hamburger-menu-close {
        position: absolute;
        top: 6%;
        right: 8%;
        font-size: 3rem;
        display: none;
        z-index: 10;
        padding-left: 10px;
    }
    nav {
        padding-left: 15px;
    }
    header {
        display: block;
    }
}

/* Styles for screens between 630px and 824px */
@media screen and (max-width: 824px) {
    .navbar-mobile a {
        font-size: 28px;
    }
}

/* Styles for screens between 500px and 630px */
@media screen and (max-width: 630px) {
    .navbar-mobile a {
        font-size: 25px;
    }
}

/* Styles for screens smaller than 500px */
@media screen and (max-width: 500px) {
    .navbar-mobile {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center; /* Center children vertically */
        align-items: center; /* Center children horizontally */
    }
}
