/* Styles for screens larger than 825px (desktop) */
@media screen and (min-width: 825px) {
    .navbar-mobile {
        display: none; /* Hide mobile navbar on large screens */
    }
    .navbar-desktop {
        display: flex; /* Show desktop navbar on large screens */
    }
    #open,
    #close {
        display: none; /* Hide hamburger menu icons on large screens */
    }
    .hamburger-menu {
        display: none;
    }
}

/* Styles for screens smaller than 825px (mobile) */
@media screen and (max-width: 824px) {
    .navbar-desktop {
        display: none; /* Hide desktop navbar on smaller screens */
    }

    .navbar-mobile {
        display: none; /* Hide mobile navbar by default */
        text-align: center;
        position: sticky;
        background-color: var(--primary-main-green-color); /* Set your desired background color */
        left: 0;
        right: 0;
        z-index: 1;
        padding: 0;
        margin: 0;
        flex-direction: column; /* Ensure children are stacked vertically */
        /*justify-content: center; /* Romoved to much space mobile? */
        align-items: center; /* Center children horizontally */
        align-content: center;
    }

    .navbar-mobile a {
        display: block;
        padding: 25px 15px;
        text-decoration: none;
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 25px;
    }
    .navbar-mobile a.active {
        text-decoration: underline;
        transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    }
    .header {
        position: sticky;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: var(--primary-main-green-color); /* Set your desired background color */
        z-index: 1000; /* Ensure the header is on top */
    }

    .header-mobile {
    background-color: var(--primary-main-green-color);
    background-image: url(../images/mantislogo.png);
    background-size: contain; /* Ensure the image fits within the container */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image within the container */
    height: 13vh;
    justify-content: center;
}

header {
    padding-bottom: 15px;
}
    .header .image {
        display: block;
        z-index: 1001; /* Ensure the logo is on top of the header */
    }
    .hamburger-menu {
        position: absolute;
        top: 6%;
        right: 8%;
        font-size: 2.3rem;
        z-index: 10;
        /* padding-left: 10px; */
    }
    .hamburger-menu-close {
        position: absolute;
        top: 6%;
        right: 8%;
        font-size: 2.3rem;
        display: none;
        z-index: 10;
        padding-left: 10px;
    }
    nav {
        padding-left: 15px;
    }
    header {
        display: block;
    }
}

/* Additional styles for different screen sizes */
@media screen and (max-width: 630px) {
    .navbar-mobile a {
        font-size: 25px;
    }

}

@media screen and (max-width: 500px) {
    .navbar-mobile {
        height: 51vh;
    }

}