@media screen and (min-width: 1420px) {
    #open,
    #close {
        display: none;
    }
}
@media screen and (max-width: 1420px) {
    .navbar {
        text-align: center;
        position: sticky;
        left: 0;
        right: 0;
        z-index: 1;
        padding: 0;
        margin: 0;
        display: none;
    }

    .navbar a {
        display: block;
        padding: 25px 15px;
        text-decoration: none;
        text-align: center;
        color: black;
        font-weight: bold;
    }

    .navbar a.active {
        text-decoration: underline;
        -ms-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
        -moz-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
        -o-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
        -webkit-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
        transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    }

    .hamburger-menu {
        position: absolute;
        top: 6%;
        right: 8%;
        font-size: 3rem;
        z-index: 10;
        padding-left: 10px;
    }

    .hamburger-menu-close {
        position: absolute;
        top: 6%;
        right: 8%;
        font-size: 3rem;
        display: none;
        z-index: 10;
        padding-left: 10px;
    }
    header {
        background-color: var(--primary-main-green-color);
        height: 650px;
    }
}