/* Styles for screens larger than 825px (desktop) */
@media screen and (min-width: 825px) {
}

/* Styles for screens smaller than 825px (mobile) */
@media screen and (max-width: 824px) {
    .index-intro {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }
}

/* Additional styles for different screen sizes */
@media screen and (max-width: 630px) {
    .top-header {
        font-size: var(--h1-mobile-size);
    }
}
