@import "variables.css";
@import "main.css";
@import "header.css";
@import "mediaqueries.css";
@import "api.css";
@import "blog.css";
@import "footer.css";
@import "carousel.css";
@import "contact.css";

.headline-pages {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 38px;
}

.top-header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.latest-posts {
    display: flex;
    justify-content: center;
}

.index-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.intro-text {
    padding-left: 80px;
}

.index-intro img {
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-height: 20vw;
    max-width: 20vw;
    justify-self: center; /* Center the image horizontally */
    align-self: center; /* Center the image vertically */
    padding-top: 0; /* Remove padding-top */
}

.contact-content {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.wp-image-167 {
    border-radius: 50%;
    padding-top: 20px;
    width: 100%;
    height: auto;
    max-height: 20vw;
    max-width: 20vw;
    margin: auto;
}

.about-img {
    display: flex;
    border-radius: 20%;
    padding-top: 20px;
    width: 100%;
    height: auto;
    max-height: 30vw;
    max-width: 30vw;
    margin: auto;
}

.about-text {
    text-align: center;
    margin: 3px 40px 3px 40px;
}

.about-text p {
    margin: 30px;
}

/* Container for the loading indicator */
.indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

/* Loading indicator styles */
#loadingIndicator {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 24px;
    padding: 15px;
    border: 5px solid green;
    border-radius: 10px;
    animation: pulse 1.5s infinite;
    margin: 10px;
}

/* Error indicator styles */
#errorIndicator {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 24px;
    padding: 15px;
    border: 5px solid red;
    border-radius: 10px;
    animation: pulse 1.5s infinite;
    margin: 10px;
}

/* Loading animation */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
